{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container page-content">
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <p class="display-3">Hello!&#128075;</p>
            <img src="{% static 'images/me.jpeg' %}" alt="" style="padding-bottom: 25px;">
            <p class="display-6">I'm <strong>Kieran</strong></p>
            <p>A <strong>Full Stack Developer</strong> skilled in:</p>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS/jQuery</li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            </div>
            <div>
                <p>Check out my projects <a href="#" class="links">here</a>!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}