{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container page-content">
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <h1>Hello!&#128075;</h1>
            <img src="{% static 'images/me.jpeg' %}" alt="">
            <hr>
            <p>I'm <strong>Kieran</strong></p>
            <p>A <strong>Full Stack Developer</strong> skilled in:</p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Python</li>
                <li>Django</li>
                <li>Bootstrap</li>
            </ul>
            <p>Check out my projects <a href="#" class="links">here</a>!</p>
        </div>
    </div>
</div>
{% endblock %}