html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fafafa;
    background-color: #212529;
    overflow-x: hidden;
}

img {
    max-height: 75%;
    max-width: 75%;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fafafa !important;
}

a:hover {
    color: #ffa200 !important;
}

.links {
    color: #ffa200 !important;
}

.page-content {
    padding-top: 100px;
}

.navbar {
    background: linear-gradient(to bottom, #212529 0%, rgba(33, 37, 41, 0) 90%) !important;
    margin-bottom: 25px;
}